<!DOCTYPE html>
<html>
<head>
    <title>Sale日志系统</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{static_url('css/themes/metro/easyui.css')}}">
    <link rel="stylesheet" href="{{static_url('css/themes/icon.css')}}">
    <style type="text/css">
        .rtitle{
            font-size:18px;
            font-weight:bold;
            padding:5px 10px;
            /*background:#336699;*/
            background: #006dae;
            color:#fff;
        }
        body{
            background-color: #f5f5f5;
        }
    </style>
    <script type="text/javascript" src="{{static_url('js/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{static_url('js/jquery.easyui.min.js')}}"></script>
    <script type="text/javascript" src="{{static_url('js/easyui-lang-zh_CN.js')}}"></script>
</head>
<body class="easyui-layout">
<!-- header -->
<div data-options="region:'north',border:false" class="rtitle">
    Sale日志查询系统
    <span style="float: right; margin-right: 50px; font-size: 14px; color: orange;">
        {{name}}<a href="/logout" style="margin-left: 5px; font-size: 10px; color: lightgreen;">退出系统</a>
    </span>
</div>
<!-- left side menu -->
<div data-options="region:'west',title:'系统菜单',split:true,border:false" style="width:150px;background-color: #f5f5f5;">
    <ul id="tt" class="easyui-tree"></ul>
</div>
<!-- content regin -->
<div data-options="region:'center',border:false" style="overflow: hidden;background-color: #f5f5f5;">
    <div id="content" class="easyui-tabs" data-options="fit:true,border:false,plain:true" style="overflow: hidden">
        {% if status == '1' %}
            <div title="用户管理" data-options="closable:true">
                <iframe src="/user" frameborder="0" style="width:100%;height:98%" scrolling="auto"></iframe>
            </div>
        {% else %}
            <div title="个人中心" data-options="closable:true">
                <iframe src="/myself" frameborder="0" style="width:100%;height:98%" scrolling="auto"></iframe>
            </div>
        {% end  %}
    </div>
</div>

<script type="text/javascript">
    $(function() {
        var firstlink = "<a href='javascript:void(0);' onclick=\"open1('user', '用户管理')\">用户管理</a>";
        if ("{{status}}" != "1") {
            firstlink = "<a href='javascript:void(0);' onclick=\"open1('user', '个人中心')\">个人中心</a>";
        }
        $("#tt").tree({
            data: [{
                id:1,
                text: firstlink
            }, {
                id:2,
                text:"<a href='javascript:void(0);' onclick=\"open1('log', '日志查询')\">日志查询</a>"
            }]
        });
    });
    /**
     * 当点击树行菜单时，如果tab不存在生存，存在直接显示
     * @param url 要加载的url
     * @param title 现实tab的标题
     */
    function open1(url, title){
        if ($('#content').tabs('exists',title)){
            $('#content').tabs('select', title);
        } else {
            $('#content').tabs('add',{
                title:title,
                loadingMessage: '正在努力的加载...',
                closable:true,
                content: makeIframeContent(url)
            });
        }
    }

    /**
     * 生成iframe内容，作用通过在tab中嵌入iframe实现加载新页面
     * @param url 加载的url
     * @return {String} 返回iframe内容
     */
    function makeIframeContent(url) {
        return  "<iframe src='../"+url+"' frameborder='0' style='width:100%;height:100%'></iframe>";
    }
</script>
</body>
</html>
